book-info
{
display:block;
}
book
{
display:block;
font-size:14px;
}
titleofthebook
{
display:block;
font-family:arial;
color:"green";
font-weight:bold;
font-size:20pt;
}
Authorname
{
display:block;
font-family:arial;
color:"blue";
font-weight:bold;
font-size:25pt;
}
publication{
display:block;
font-family:arial;
color:"red";
font-weight:bold;
font-size:20pt;
}
edition,price
{
display:block;
font-family:arial;
color:"orange";
font-weight:bold;
font-size:20pt;
}

